doctype html
html
  head
    meta(charset='UTF-8')
    title ゆゆ式2期はよ
    link(rel='stylesheet', href='./css/app.css')
  body
    h1 ゆゆ式2期はやくいそいで
      span これな
    p ごちうさも待ってる
      span.hoge それな
    script(src='./js/app.js', charset='UTF-8')
